{% load static %}


<html lang="en">
   <head> 
      <title>My Blog Website</title>
     
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
   </head>
   <style>
      p{
         margin-left: 80px;
      }
      .x{
         color:red;
      }
   </style>
   <body class="main-layout">
      <div class="navx">
         <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
            <div class="container-fluid">
            <h2>Login Page</h2>                     
               <ul class="navbar-nav">                      
                  <li class="nav-li">                                    
                     <a class="nav-link active" href="/">Click Here For Homepage</a>
                  </li>                         
               </ul>                        
            </div>
         </nav>
      </div>       
      <br>
      <br>
      <form action="login" method="POST" class="main_form">
         {% csrf_token %}
         {% for h in messages %}
         <h4 class="x">{{h}}</h4>
         {% endfor %}
         <h4> Enter username:&nbsp;&nbsp;<input type="text" name="username" placeholder="sarthak"/></h4>
         <h4> Enter password:&nbsp;&nbsp;<input type="password" name="password" placeholder="nandre31"/></h4>
         <br>
         <input type="submit" class="btn" value="Submit" />
      </form>      
   </body>
</html>